<div class="ui fixed massive menu">
  <div class="item">
    <i class="fa fa-wechat"></i>
  </div>
  <a [routerLink]="['/']" class="item">LetsChat</a>    
  <div class="right menu">
    <a class="item" *ngIf="!(authService.user | async)" [routerLink]="['/auth/login']">Login</a>
    <a class="item" *ngIf="(authService.user | async)" [routerLink]="['/threads']">Threads</a>          
    <a class="item" *ngIf="(authService.user | async)" [routerLink]="['/people']">People</a>      
    <a class="item" *ngIf="(authService.user | async)" (click)="authService.logout()" [routerLink]="['/auth/login']">Logout</a>
  </div>
</div>
