.card {
    border-radius: 0px !important;
    margin-bottom: 2px !important;
}

input {
    border-radius: 0px !important;
}

.user-content {
    flex: 0 0 auto;
}

.threads {
    flex: 1 1 auto;
    overflow-y: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 92vh;
    border: 1px solid #ecf0f1;
}

.column {
    padding: 0 !important;
}

.segment {
    margin: 0px !important;
    border-radius: 0px !important;
}

.typing {
    color: #2ecc71 !important;
    font-weight: bold !important;
}