<lc-navbar></lc-navbar>
<div class="ui grid">
    <div *ngIf="loadingThreads" class="ui active inverted dimmer">
        <div class="ui text  massive loader">Loading...</div>
    </div>
    <div class="row">
        <div class="six wide column">
            <div class="wrapper">
                <div class="user-content">
                    <div class="ui small fluid green card">
                        <div class="content">
                            <img src="{{ (currentUser | async)?.photoURL }}" alt="Your DP" class="ui mini left floated circular image">
                            <div class="header">{{ (currentUser | async)?.displayName }}</div>
                            <div class="meta">{{ status }}</div>
                        </div>
                    </div>
                    <div class="ui icon fluid input">
                        <input placeholder="Search..." type="text">
                        <i class="inverted circular search link icon"></i>
                    </div>
                </div>
                <div class="threads">
                    <lc-thread-list (select)="onThreadClick($event)" [threads]="threads"></lc-thread-list>
                </div>
            </div>
        </div>
        <div class="ten wide column">
            <div *ngIf="threadUser" class="ui small fluid yellow card">
                <div class="content">
                    <img src="{{ threadUser.photoURL }}" alt="{{ threadUser.displayName }}'s DP'" class="ui mini left floated circular image">
                    <div class="header">{{ threadUser.displayName }}</div>
                    <div class="meta">{{ threadUser.status }}</div>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>