<div class="ui grid">
  <div class="row">
    <div class="sixteen wide column">
      <div #messageBox class="message-box">
        <lc-chat-bubble *ngFor="let message of messages" [isReply]="authService.currentUser.uid != message.sender.id" [message]="message.message" [timestamp]="message.timestamp"></lc-chat-bubble>
      </div>
    </div>
    <div class="sixteen wide column">
      <div class="chat-controls">
        <div class="ui right action fluid input">
          <input [(ngModel)]="message" type="text" (keypress)="onKeyPress($event)" placeholder="Enter the message here :)">
          <button (click)="onBtnSendClick()" [disabled]="message.length == 0" class="ui icon button positive">
              <i class="send icon"></i>
          </button>   
        </div>
      </div>
    </div>
  </div>
</div>