<div class="ui grid">
  <div class="row">
    <div class="sixteen wide column">
      <div class="message-box">
      </div>
    </div>
    <div class="sixteen wide column">
      <div class="chat-controls">
        <div class="ui right action fluid input">
          <input [(ngModel)]="message" type="text" placeholder="Enter the message here :)">
          <button (click)="onBtnSendClick()" [disabled]="message.length == 0" class="ui icon button positive">
              <i class="send icon"></i>
          </button>   
        </div>
      </div>
    </div>
  </div>
</div>