.message-box {
    height: 80vh;
    display: block;
    padding: 20px;
    overflow-y: auto;
}

.chat-controls {
    height: 17vh;
    padding: 15px;
}

.old-messages-container {
    padding: 3px;
    text-align: center;
}
