<lc-navbar></lc-navbar>
<div class="ui grid">
  <div class="row">
    <div class="five wide column"></div>
    <div class="six wide column">
      <div class="ui segments login-box">
        <div class="ui secondary segment">
          <h1 class="text-center"><i class="fa fa-user"></i> &nbsp;Login</h1>
        </div> 
        <div class="ui segment">
          <div class="margin-top-10">
            <button class="ui fluid facebook massive button" (click)="onBtnLoginClick(authProviders.FACEBOOK)"><i class="fa fa-facebook-square"></i> &nbsp; Login With Facebook</button>
          </div>
          <div class="margin-top-10">
            <button class="ui fluid google plus massive button" (click)="onBtnLoginClick(authProviders.GOOGLE)"><i class="fa fa-google"></i> &nbsp; Login With Google</button>
          </div>
          <div class="margin-top-10">
            <button class="ui fluid black massive button" (click)="onBtnLoginClick(authProviders.GITHUB)"><i class="fa fa-github"></i> &nbsp; Login With Github</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>