<div class="ui cards">
    <a (click)="onThreadClick(thread.user)" routerLinkActive="selected-card" [routerLink]="['/threads', thread.thread.id]" *ngFor="let thread of threads" class="ui fluid card">
        <div class="content">
            <i [ngClass]="{ red: !thread.user.online, green: thread.user.online }" class="pull-right fa fa fa-circle"></i>
            <img src="{{ thread.user.photoURL }}" alt="Your DP" class="ui mini left floated circular image">
            <div class="header">{{ thread.user.displayName }}</div>
            <div class="meta" *ngIf="thread.newMessagesCount > 0">
                <div class="statistic">
                    <div class="value">
                        <i class="fa fa-comments-o"></i> {{ thread.newMessagesCount }} unread
                    </div>
                </div>
            </div>
        </div>       
    </a>
</div>