.cards {
    margin: 0px !important;
    padding: 0px !important;

    .card {
        margin: 0px !important;
        margin-right: 1px !important;    
        border-radius: 0px;    
    }
}

.selected-card {
    background: #ecf0f1 !important;
}